body {
  background-image: url(./background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

#searchButton {
  background-color: black;
  color: white;
}

td,
th {
  background-color: rgba(252, 252, 252, 0.5);
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type,
td:first-of-type > div {
  height: 200px;
  width: 250px;
}
